/* Created by: Mr. Coxall
 * Created on: Sep 2020
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(11, 7, 69);
}

h1 {
  background-color: rgb(72, 241, 38);
  color: hsl(30, 94%, 51%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(96, 131, 239);
}